@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.carrosel-item-img{
    height: 25em;
    object-fit: cover;
    object-position: 0 50%; /* mexer na imagem */
    opacity: 80%;
}

.carousel-caption h2 {
    font-size: 4em;
    color: rgb(255, 255, 255);
    margin-bottom: 2em;
}

h2 ,h4{
    text-align: center;
}


.card{
    width: 30em;
    margin: 2em;
}


#main-receitas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*colocar um do lado do outro e quebrar linha*/
}

.card-img-top{
    height: 18em;
    object-fit: cover;
}

footer{
    background-color: rgb(204, 204, 204);
    padding: 0.01em;
    text-align: center;
}

